
// Colors

$Soft-Orange: hsl(35, 77%, 62%);
$Soft-Red: hsl(5, 85%, 63%);
$Off-white: hsl(36, 100%, 99%);
$Grayish-Blue: hsl(233, 8%, 79%);
$Dark-Grayish-Blue: hsl(236, 13%, 42%);
$Very-Dark-Blue: hsl(240, 100%, 5%);

// Font

$Font-Size: 15px;
$Font-Family: 'Inter', sans-serif;
$Font-Thin: 400;
$Font-Medium: 700;
$Font-Bold: 800;

// Breakpoints

$Tablet: 900px;
$Desktop: 1200px;

// Other

$Transition: all 0.3s ease-in-out;