@use "../utils/variables" as *;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 80px 15px;

  @media (min-width: $Phone) {
    padding: 0 25px 80px 25px;
  }

  @media (min-width: $Desktop) {
    padding: 0 35px 80px 35px;
  }
}
